html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #ffffff;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --subtitle-color: #2e2f42;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  visibility: hidden;
}
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.header {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
}
.header-navigation {
}
.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.accent {
  color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--primary-text-color);
  font-size: 16px;
  color: var(--subtitle-color);
}
/* HEADER */
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  font-style: normal;
}
/* HERO */
.hero {
  background-color: #2e2f42;
  text-align: center;
  outline: 2px solid tomato;
  padding-top: 24px;
  align-items: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 500px;
  color: var(--primary-text-color);
  padding-top: 188px;
}
.hero-btn {
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 188px;
  margin-top: 48px;
}

/* ADVANTAGES */
.advantages {
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 72px;
}

.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-list {
  display: flex;
  text-align: center;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.working-list {
  display: flex;
  gap: 24px;
}

/* footer */

.footer {
  background: #2e2f42;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* .portfolio { */

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #404bbf;
  color: var(--primary-text-color);
}
.portfolio-btn {
  background: #f4f4fd;
  border: none;
  border-radius: 4px;
  color: var(--accent-color);
  cursor: pointer;
}
